{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Categories</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_category') }}" class="btn-large light-blue darken-2">
            Add Category <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<div class="row">
    <!-- Box 1 -->
    <div class="col s12 m6 l3">
        <div class="card light-blue darken-4 center-align">
            <div class="card-content white-text">
                <span class="card-title">Travel</span>
            </div>
            <div class="card-action">
                <a href="#" class="btn green accent-4">Edit</a>
                <a href="#" class="btn red">Delete</a>
            </div>
        </div>
    </div>
    
    <!-- Box 2 -->
    <div class="col s12 m6 l3">
        <div class="card light-blue darken-4 center-align">
            <div class="card-content white-text">
                <span class="card-title">Food</span>
            </div>
            <div class="card-action">
                <a href="#" class="btn green accent-4">Edit</a>
                <a href="#" class="btn red">Delete</a>
            </div>
        </div>
    </div>
    
    <!-- Box 3 -->
    <div class="col s12 m6 l3">
        <div class="card light-blue darken-4 center-align">
            <div class="card-content white-text">
                <span class="card-title">Sports</span>
            </div>
            <div class="card-action">
                <a href="#" class="btn green accent-4">Edit</a>
                <a href="#" class="btn red">Delete</a>
            </div>
        </div>
    </div>
    
    <!-- Box 4 -->
    <div class="col s12 m6 l3">
        <div class="card light-blue darken-4 center-align">
            <div class="card-content white-text">
                <span class="card-title">Music</span>
            </div>
            <div class="card-action">
                <a href="#" class="btn green accent-4">Edit</a>
                <a href="#" class="btn red">Delete</a>
            </div>
        </div>
    </div>

    <!-- Box 5 -->
    <div class="col s12 m6 l3">
        <div class="card light-blue darken-4 center-align">
            <div class="card-content white-text">
                <span class="card-title">Technology</span>
            </div>
            <div class="card-action">
                <a href="#" class="btn green accent-4">Edit</a>
                <a href="#" class="btn red">Delete</a>
            </div>
        </div>
    </div>
    
    <!-- Box 6 -->
    <div class="col s12 m6 l3">
        <div class="card light-blue darken-4 center-align">
            <div class="card-content white-text">
                <span class="card-title">Art</span>
            </div>
            <div class="card-action">
                <a href="#" class="btn green accent-4">Edit</a>
                <a href="#" class="btn red">Delete</a>
            </div>
        </div>
    </div>
    
    <!-- Box 7 -->
    <div class="col s12 m6 l3">
        <div class="card light-blue darken-4 center-align">
            <div class="card-content white-text">
                <span class="card-title">Nature</span>
            </div>
            <div class="card-action">
                <a href="#" class="btn green accent-4">Edit</a>
                <a href="#" class="btn red">Delete</a>
            </div>
        </div>
    </div>
    
    <!-- Box 8 -->
    <div class="col s12 m6 l3">
        <div class="card light-blue darken-4 center-align">
            <div class="card-content white-text">
                <span class="card-title">Lifestyle</span>
            </div>
            <div class="card-action">
                <a href="#" class="btn green accent-4">Edit</a>
                <a href="#" class="btn red">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
